body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: oldlace;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

input[type="date"] {
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

button {
    background-color: goldenrod;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: white;
}

#validationMessage {
    margin-top: 20px;
    font-weight: bold;
}
